.first{

    background-color: green;
}

.gaming-container{

    text-align: center;
    justify-content: center;
    margin: 2% 0 2% 0;
    background-color: aquamarine;
}

.cards{

   text-align: center;

   background-color: orangered;
   
}

.card{

   
    
}

.card img{

    height: 200px;

}

.card title{

    
}