.gaming{

    background-color: aqua;
}

.gaming-container{

    text-align: center;
    justify-content: center;
    margin: 2% 0 2% 0;
}

.cards{

   
}

.card{

    
}

.card img{

    height: 200px;

}

.card title{

    
}