nav{

    background-color: white;
    height: 40px;
    display: block;
    position: fixed;
    width: 100vw;
}

.symbol{

    width: fit-content;
    margin-top: 0.3%;
    margin-left: 0px;

}

.initial{

    display: flex;
    margin-left: 1%;
}

.info{
    margin-block-start: 1%;
    margin-left: 2%;
    display: inline-block;
    list-style: none;
    cursor: pointer;
    color: #667;
}

.info1{

    margin-block-start: 1%;
    margin-left: 2%;
    display: inline-block;
    list-style: none;
    cursor: pointer;
    color: #667;
    margin-left: 45%;
}